<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Bluetooth devices"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <label text="Bluetooth status: {{bluetoothStatus}}"></label>
</GridLayout>
<GridLayout class="page page-content">
    <ListView [items]="bluetoothDevices" class="list-group">
        <ng-template let-device="item">
            <Label text="{{device.UUID}}" class="list-group-item"></Label>
        </ng-template>
    </ListView>
</GridLayout>
